<section class="profile-container">
  <h2>Update Profile</h2>
  <form class="update-profile-form">
    <div class="username-field">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <br>

    <div class="email-field">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required>
    </div>
    <br>

    <div class="phone-number-field">
      <label for="phone">Phone Number</label>
      <input type="tel" id="phone" name="phone" required>
    </div>
    <br>

    <button type="submit">Update profile</button>
  </form>
</section>