<section class = "login-container">
    <h2>Login</h2>
    <form class="login-form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <p class="login-failed-error-message">* Contul nu exista sau username-ul si parola sunt gresite</p>

        <br>
        <button type="submit">Login</button>
    </form>

    <p>Forgot password? <a href="/reset-password" data-route="/reset-password">Recover</a></p>
    <p>No account? <a href="/register" data-route="/register">Sign up</a></p>
</section>