<section class = "register-container">
    <h2>Sign Up</h2>
    <form class="register-form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <p class="frontend-username-error-message">* Username must contain only letters and numbers</p>
        <p class="backend-username-error-message">* Username already in use</p>
        <br>

        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
        <p class="frontend-email-error-message">* Invalid email</p>
        <p class="backend-email-error-message">* Email already in use</p>
        <br>

        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" required>
        <p class="frontend-phone-error-message" style="display: none;">* Phone number must contain only digits and optionally a '+' sign</p>
        <p class="backend-phone-number-error-message" style="display: none;">* Phone number already in use</p>
        <br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <p class="password-error-message">* Password must be at least: 
            <br> - 8 characters
            <br> - include upper and lower case letters 
            <br> - include a number
            <br> - include a special character</p>
        <br>

        <label for="confirm-password">Confirm password</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
        <p class="confirm-password-error-message">* Passwords do not match</p>
        <br>

        <button type="submit">Sign Up</button>
    </form>
</section>