<section class="reset-password-container">
    <h2>Reset Password</h2>
    <form class="reset-password-form">
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" name="new-password" required>
        <p class="password-error-message">* Password must be at least:
            <br> - 8 characters
            <br> - include upper and lower case letters
            <br> - include a number
            <br> - include a special character</p>
        <br>

        <label for="confirm-password">Confirm New Password</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
        <p class="confirm-password-error-message">* Passwords do not match</p>
        <br>

        <button type="submit">Reset Password</button>
    </form>
</section>