<div id="property-details" class="property-card">

    <div class = "property-tags">
        <span id = "property-type" class="property-tag"></span>
        <span id = "transaction-type" class="property-tag"></span>
    </div>

    <div class="property-header">
        <div class="property-title-section">
            <h2 id="property-title"></h2>
            <span class="property-date">Posted at: <span id="property-created"></span></span>
        </div>
        <div class="property-price-section">
            <span class="price-label">Price:</span>
            <span id="property-price" class="price-amount"></span>
            <span class="price-currency">€</span>
        </div>
    </div>

    <div class="property-images">
        <div class="slides">
            <img src="https://www.ro-iasi.com/data/Photos/OriginalPhoto/15971/1597127/1597127144/photo-iasi-1.JPEG" alt="entity.Property Image 1">
        </div>

        <div class="slides">
            <img src="https://media2.lajumate.ro/media/i/api_list/5/163/16345225_apartament-2-camere-moara-de-vant-lux_2.jpg" alt="entity.Property Image 2">
        </div>

        <a class = "prev">&#10094;</a>
        <a class = "next">&#10095;</a>
    </div>

    <div class="property-description-container">
        <h3>Description</h3>
        <span id="property-description"></span>
    </div>

    <div class="property-details-container">
        <h3>Property details</h3>
        <div class="property-info">
            <p><strong>Address:</strong> <span id="property-address"></span></p>
            <p><strong>Surface:</strong> <span id="property-surface"></span> mp</p>
            <p><strong>Rooms:</strong> <span id="property-rooms"></span></p>
            <p><strong>Bathrooms:</strong> <span id="property-bathrooms"></span></p>
            <p><strong>Floor:</strong> <span id="property-floor"></span></p>
            <p><strong>Total floors:</strong> <span id="property-totalfloors"></span></p>
            <p><strong>Building construction year:</strong> <span id="property-year"></span></p>
            <p><strong>Contact:</strong> <span id="property-contact-name"></span>,
                <span id="property-contact-phone"></span>,
                <a href="#" id="property-contact-email"></a>
            </p>
        </div>
    </div>
</div>
